*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  min-height: 100vh;
  background-color: $clr-gray;
  color: $clr-white;
  line-height: 1.3;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

button,
input,
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: $border-radius;
  box-sizing: border-box;
  cursor: inherit;
  font-family: inherit;
  font-size: 1rem;
  margin: 0;
  outline: none;
  padding: 0.5rem;
  width: auto;
}

a, a:visited, a:hover {
  color: $clr-white;
  text-decoration: none;
  border: none;
  padding-left: 1rem;
  padding-right: 1rem;
}

ul,
ol {
  list-style: none;
}

span {
    margin: 0;
    padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

// Spacing classes
.container {
  max-width: 1920px;
  margin: 0 auto;
}

  // Display classes
.flex {
  display: flex;

  &-ai-c {
    align-items: center;
  }

  &-jc-c {
    justify-content: center;
  }

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-sa {
    justify-content: space-around;
  }
}

.hide-on-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-on-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}