$header-height: 6rem;
$header-height-desktop: 7rem;
$box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
  rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

.header {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 1.5rem 6fr 1fr 1.5rem;
  grid-template-rows: $header-height auto;
  grid-template-areas:
    ". nav-logo nav-toggle ."
    "nav-bar nav-bar nav-bar nav-bar";
  justify-content: center;
  align-items: center;
  background-color: $clr-blue-darken3;
  box-shadow: $box-shadow;
  font-size: 1.5rem;
  width: 100%;
  z-index: 999;

  @include breakpoint-up(large) {
    grid-template-columns: 1fr 6fr 6fr 1fr;
    grid-template-rows: $header-height-desktop;
    grid-template-areas: ". nav-logo nav-bar .";
  }

  &__logo {
    grid-area: nav-logo;
    height: auto;
    min-width: 22rem;
    max-width: 32rem;

    @include breakpoint-up(large) {
      max-width: 40rem;
    }
  }

  .nav-toggle {
    display: none;

    &:checked {
      & ~ .nav-bar {
        transform: scale(1, 1);

        .nav-bar__links a,
        .nav-bar__cta {
          opacity: 1;
          transition: opacity 250ms ease-in-out 250ms;
        }
      }

      & ~ .nav-toggle-label {
        > span:first-child {
          transform: rotate(45deg);
        }

        > span:nth-child(2) {
          opacity: 0;
        }

        > span:last-child {
          transform: rotate(-45deg);
        }
      }
    }
  }

  .nav-toggle-label {
    grid-area: nav-toggle;
    cursor: pointer;
    margin: 0 auto;
    border: none;

    > span {
      display: block;
      height: 3px;
      width: 26px;
      background-color: $clr-white;
      transform: rotate(0deg);
      transform-origin: 2px 1px;
      transition: transform 300ms ease-in-out, opacity 200ms ease-in-out;
      will-change: transform opacity;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }

  .nav-bar {
    grid-area: nav-bar;
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: inherit;
    border-top: 2px solid white;
    width: 100%;
    text-transform: uppercase;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    will-change: transform;

    @include breakpoint-up(large) {
      position: relative;
      top: initial;
      left: initial;
      flex-direction: row;
      border: none;
      transition: none;
      transform: scale(1, 1);
    }

    &__links {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: stretch;
      text-align: center;
      width: 80%;

      @include breakpoint-up(medium) {
        width: 50%;
      }

      @include breakpoint-up(large) {
        flex-direction: row;
        width: 100%;
      }

      .nav-link {
        $transition: transform 250ms ease-in-out, opacity 300ms ease-in-out;

        position: relative;
        line-height: $header-height;
        margin-bottom: 1rem;
        background: $clr-blue-darken3;
        opacity: 0;
        transform: scale(1, 1);
        transform-origin: bottom center;
        transition: $transition;
        will-change: transform, opacity;

        &:first-child {
          margin-top: 2rem;
        }

        @include breakpoint-up(large) {
          line-height: $header-height-desktop;
          margin-bottom: 0;
          margin-right: 1rem;
          opacity: 1;

          &:first-child {
            margin-top: 0;
          }

          &:last-child {
            margin-right: 3rem;
          }
        }

        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: rgba($clr-white, 0.25);
          border-bottom: 5px inset $clr-light-blue-lighten1;
          border-radius: 2px;
          opacity: 0;
          transform: scale(1, 0);
          transform-origin: inherit;
          transition: $transition;
        }

        &:hover {
          &::before {
            opacity: 1;
            transform: scale(1, 1);
          }
        }
      }
    }

    &__cta {
      position: relative;
      text-align: center;
      width: 50%;
      margin-top: 1rem;
      margin-bottom: 3rem;
      padding: 1rem 0px;
      background-image: linear-gradient(to right, $clr-blue, $clr-light-blue);
      border: 2px solid $clr-white;
      border-radius: 10px;
      opacity: 0;
      overflow: hidden;
      will-change: opacity;

      @include breakpoint-up(large) {
        width: 16rem;
        margin: 0 auto;
        border-radius: 30px;
        opacity: 1;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.25);
        opacity: 0;
        transform: scale(0, 0);
        transition: opacity 200ms ease-in-out;
      }

      &:hover::before {
        box-shadow: $box-shadow;
        opacity: 1;
        transform: scale(1, 1);
      }
    }
  }
}
