.header {
  background-color: $clr-blue-darken3;
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 1.5rem 6fr 1fr 1.5rem;
  grid-template-rows: 6rem auto;
  grid-template-areas: 
    ". nav-logo nav-toggle ."
    ". nav-bar nav-bar .";
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 999;

  @include breakpoint-up(large) {
    grid-template-columns: 1fr 6fr 6fr 1fr;
    grid-template-rows: 6rem;
    grid-template-areas: ". nav-logo nav-bar .";
  }

  &__logo {
    grid-area: nav-logo;
    min-width: 22rem;
    max-width: 32rem;
  }

  .nav-toggle {
    display: none;

    &:checked {
      & ~ .nav-bar {
          transform: scale(1,1);
      }

      & ~ .nav-toggle-label {
        > span {
          background-color: $clr-black;
        }

        > span:first-child {
          transform: rotate(45deg);
        }

        > span:nth-child(2) {
          opacity: 0;
        }

        > span:last-child {
          transform: rotate(-45deg);
        }
      }
    }
  }

  .nav-toggle-label {
    grid-area: nav-toggle;
    cursor: pointer;
    height: 2.8rem;
    margin: 0 auto;

    > span {
      display: block;
      width: 26px;
      height: 3px;
      background-color: $clr-white;
      transition: all 300ms ease-in-out;
      transform: rotate(0deg);
      transform-origin: 2px 1px;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }

  .nav-bar {
    grid-area: nav-bar;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0;
    background: inherit;
    width: 100%;
    transform: scale(1, 0);

    @include breakpoint-up(large) {
        flex-direction: row;
        position: relative;
        top: 0;
        left: 0;
        transform: scale(1,1);
    }

    &__links {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      text-align: center;
      width: 100%;

      @include breakpoint-up(large) {
          flex-direction: row;
      }

      a {
        position: relative;
        line-height: 6rem;
        transition: background 300ms ease-in-out;

        &:not(:last-child) {
          margin-right: 1rem;
        }

        &::before {
          content: "";
          display: block;
          position: absolute;
          height: 5px;
          left: 0;
          right: 0;
          bottom: 0;
          background: $clr-light-blue-lighten3;
          opacity: 0;
          transition: opacity 300ms ease-in-out;
        }

        &:hover {
          background: $clr-blue-darken2;

          &::before {
            opacity: 1;
          }
        }
      }
    }
  }
}
