.main {
  background-color: $clr-light-blue;
}

/** Hero Section **/

.hero {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "container1"
    "container2";
  gap: 2rem;
  height: 100%;
  background-color: $clr-white;
  color: $clr-black;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 3rem;
  padding-bottom: 4rem;

  @include breakpoint-up(medium) {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  @include breakpoint-up(large) {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "container1 container2";
    height: 100vh;
  }

  &__container1 {
    grid-area: container1;
    display: grid;
    place-content: center;
    align-content: center;
    font-size: 2rem;
    text-align: center;

    @include breakpoint-up(large) {
      text-align: left;
    }

    span {
      font-style: italic;
      font-weight: 600;
      margin-bottom: 1.5rem;
    }

    h1 {
      margin-bottom: 3rem;
      font-size: 40px;
      font-weight: 800;
    }

    p{
      margin-bottom: 4rem;
    }

    button {
      position: relative;
      text-align: center;
      width: auto;
      margin: 0 auto;
      padding: 1.2rem;
      background-image: linear-gradient(to right, $clr-blue, $clr-light-blue);
      border: 2px solid $clr-blue-darken1;
      border-radius: 10px;
      font-size: 1.5rem;
      overflow: hidden;
      will-change: opacity;

      @include breakpoint-up(medium) {
        font-size: 1.8rem;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.25);
        opacity: 0;
        transform: scale(0, 0);
        transition: opacity 200ms ease-in-out;
      }

      &:hover::before {
        box-shadow: $box-shadow;
        opacity: 1;
        transform: scale(1, 1);
      }

      a {
        position: relative;
      }
    }
  }

  
  &__container2 {
    grid-area: container2;
    display: grid;
    place-content: center;

    img {
      height: 35rem;
      width: auto;

      @include breakpoint-up(medium) {
        padding: 4rem;
      }

      @include breakpoint-up(large) {
        padding: 1rem;
      }
    }
  }
}
/** END Hero Section **/

/** Services Section **/

.services {
  display: grid;
  gap: 3rem;
  place-content: center;
  place-items: center;
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;

  @include breakpoint-up(large) {
    grid-auto-flow: column;
    gap: 5rem;
  }

  &__card {
    height: 54rem;
    width: 80vw;
    max-width: 40rem;
    padding: 1.5rem;
    background: linear-gradient(45deg, $clr-light-blue-darken2 0%, $clr-blue-darken1 50%, $clr-blue-darken3 100%);
    box-shadow: $box-shadow;
    border-radius: 1rem;
    cursor: default;

    @include breakpoint-up(large) {
      width: 28vw;
      max-width: 35rem;
    }

    img {
      height: 7.5rem;
      width: 7.5rem;
      margin: 3rem auto;
    }

    h3 {
      font-size: 2.5rem;
      margin-bottom: 0.5rem;
    }

    h4 {
      font-size: 4.5rem;
      font-weight: 600;
      color: $clr-green;
    }

    p {
      font-style: italic;
      font-size: 1.4rem;
      margin-bottom: 2.4rem;
    }

    ul {
      margin: 3rem 0px 3rem;
      font-size: 1.5rem;
      font-weight: 600;

      li:not(:last-child) {
        margin-bottom: 0.8rem;
      }
    }

    button {
      width: 80%;
      font-size: 2rem;
      font-weight: 600;
      margin-top: 3rem;
      color: $clr-blue-darken3;
    }
  }
}


/** END Services Section **/