.services {
  padding: 3rem 4rem;
  height: fit-content;
  width: 100%;
  font-size: 1.2rem;
  background-color: $clr-blue-darken1;
  text-align: center;

  @include breakpoint-up(large) {
    padding: 2rem 10rem;
  }

  &__title {
    padding-bottom: 3rem;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    grid-template-rows: 1fr auto;
    gap: 3rem;
    place-items: center;
    place-content: center;
    width: 100%;
  }

  &__card {
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding: 1.4rem 1.2rem;
    background-color: $clr-blue-darken3;
    border-radius: $border-radius;

    img {
      height: 6rem;
      width: 6rem;
      margin: 2rem auto;
    }
  }
}
