.pricing {
  display: grid;
  grid-auto-flow: row;
  gap: 3rem;
  place-content: center;
  place-items: center;
  text-align: center;
  margin: 10rem auto;
  padding-left: 1rem;
  padding-right: 1rem;

  @include breakpoint-up(large) {
    grid-auto-flow: column;
    gap: 5rem;
  }

  &__card {
    display: grid;
    grid-auto-flow: row;
    min-height: 63rem;
    width: 75vw;
    max-width: 40rem;
    padding: 2rem 1.5rem;
    background: linear-gradient(
      45deg,
      $clr-blue 0%,
      $clr-blue-darken3 50%,
      $clr-blue-darken1 100%
    );
    border-radius: 1rem;
    box-shadow: $box-shadow;
    cursor: default;

    @include breakpoint-up(large) {
      width: 28vw;
      max-width: 35rem;
    }

    img {
      height: 7.5rem;
      width: 7.5rem;
      margin: 3rem auto;
    }

    h3 {
      margin-bottom: 0.5rem;
      font-size: 2.5rem;
      font-weight: 600;
    }

    h4 {
      font-size: 4.5rem;
      font-weight: 800;
      color: $clr-green-light;
    }

    p {
      margin-bottom: 2.4rem;
      font-size: 1.4rem;
      font-style: italic;
    }

    ul {
      margin: 3rem 0px 3rem;
      font-size: 2rem;
      font-weight: 600;

      li:not(:last-child) {
        margin-bottom: 0.8rem;
      }
    }

    a {
      position: relative;
      margin: 0 auto;
    }

    a > button {
      width: auto;
      margin-top: 2rem;
      margin-bottom: 3rem;
      padding: 1rem 3rem;
      background-color: $clr-green;
      color: $clr-white;
      border-radius: $border-radius--btn;
      box-shadow: $box-shadow;
      font-size: 1.6rem;
      font-weight: 600;
    }
  }
}
