.hero {
  display: grid;
  grid: "container1" 1fr "container2" 1fr;
  gap: 2rem;
  height: 100%;
  padding: 3rem 1.5rem 4rem 1.5rem;
  background-color: $clr-white;
  color: $clr-black;

  @include breakpoint-up(medium) {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  @include breakpoint-up(large) {
    grid: "container1 container2" 1fr / 1fr 1fr;
    height: auto;
  }

  &__container1 {
    grid-area: container1;
    display: grid;
    place-content: center;
    align-content: center;
    margin: 3rem auto;
    font-size: 2rem;
    text-align: center;

    @include breakpoint-up(medium) {
      font-size: 2.5rem;
    }

    @include breakpoint-up(large) {
      margin-bottom: 0px;
      font-size: 3rem;
      text-align: left;
    }

    span {
      margin-bottom: 4rem;
      font-size: 3rem;
      font-style: italic;
    }

    h1 {
      margin-bottom: 4rem;
      font-weight: 800;
    }

    p {
      margin-bottom: 8rem;
      font-size: 2rem;
      font-weight: 600;
    }

    a {
      position: relative;
      margin: 0 auto;
    }

    a > button {
      width: auto;
      padding: 1.2rem 3rem;
      font-size: 1.8rem;
      border-radius: 10px;
      box-shadow: $box-shadow;

      @include breakpoint-up(medium) {
        font-size: 2rem;
      }

      @include breakpoint-up(large) {
        font-size: 2.2rem;
      }
    }
  }

  &__container2 {
    grid-area: container2;
    display: grid;
    place-content: center;

    img {
      width: 100vw;
      max-height: 100vh;

      @include breakpoint-up(medium) {
        padding: 4rem;
      }

      @include breakpoint-up(large) {
        padding: 1rem;
      }
    }
  }
}
